body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    /* text-align: center; */
}
.left{
    justify-items: end;
    gap: 0px;
    justify-content: left;
   
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero */
.hero-content {
    font-family: cursive;
    text-align: center;
    padding: 50px;
    color: white;
    background-color: rgb(24, 179, 24);
}

.hero-content h1 {
    font-family:cursive;
    font-size: 4rem;
    margin: 20px 0;
}

.cta-button {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    text-decoration: underline;
}

/* About section */
.about {
    text-align: center;
    background-color: lightgray;
    padding: 50px 20px;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
/* skills section */
.skills{
    background-color: lightblue;
    padding: 50px 20px;
    /* border-radius: 30px; */
    text-align: center;
}
.skills h2{
    font-size: 2.5rem;
}
.skills-list{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.skill-item{
    padding: 20px; 
    background-color: #95a5a6;
    border-radius: 10px;
    width: 25%;
}
/* Image section */
.project{
    padding: 50px 20px;
    border-radius: 30px;
    text-align: center;
}
.project h2{
    font-size: 2.5rem;
}
.project-list{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.project-item{
    padding: 20px;
    background-color: #95b5a6;
    border-radius: 10px;
    width: 25%;
}
/* contact */
.contact{
    background-color: black;
    color: #08f400;
    padding: 50px 20px;
    text-align: center;
}
.contact h2{font-size: 2.5rem;}
.contact-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
.contact-info{
    width: 45%;
}
.contact-item{
    background-color:#333 ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.contact-item a{
    color: #08f400;
    text-decoration: none;
}
.contact-item a:hover{
    text-decoration: underline;
}
.contact-form{
    background-color: #333;
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.contact-form input, .contact-form textarea {
    width:100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1rem;
}
.contact-form button[type="submit"] {
    background-color:#333;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button[type="submit"]:hover {
    background-color: whitesmoke;
    color: #333;
}
/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}